function GoFish.new 1
push constant 6
call Memory.alloc 1
pop pointer 0
call Deck.new 0
pop this 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop local 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 0
call GoFish.deal 2
pop temp 0
push pointer 0
return
function GoFish.deal 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Deck.shuffleDeck 2
pop temp 0
push this 0
call Hand.new 1
pop this 1
push this 0
call Hand.new 1
pop this 2
push constant 0
return
function GoFish.play 2
push argument 0
pop pointer 0
push constant 0
not
pop local 1
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 450
push constant 0
push constant 450
push constant 45
call Screen.drawLine 4
pop temp 0
push constant 450
push constant 45
push constant 50
push constant 45
call Screen.drawLine 4
pop temp 0
push constant 50
push constant 45
push constant 50
push constant 0
call Screen.drawLine 4
pop temp 0
push this 3
push this 1
call Hand.checkForPoints 1
add
pop this 3
push this 4
push this 2
call Hand.checkForPoints 1
add
pop this 4
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push this 1
call Hand.drawHand 1
pop temp 0
push pointer 0
call GoFish.drawScore 1
pop temp 0
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call GoFish.yourTurn 1
pop local 0
push constant 0
pop local 1
label IF_FALSE0
push local 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call GoFish.opponentTurn 1
pop local 0
push constant 0
not
pop local 1
label IF_FALSE2
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push this 3
push this 4
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call GoFish.youWin 1
pop temp 0
label IF_FALSE3
push this 3
push this 4
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call GoFish.youLose 1
pop temp 0
label IF_FALSE4
push this 3
push this 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call GoFish.draw 1
pop temp 0
label IF_FALSE5
push constant 0
return
function GoFish.yourTurn 11
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push constant 0
pop local 5
push constant 0
pop local 6
push pointer 0
push local 6
push constant 0
not
call GoFish.drawCursor 3
pop temp 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 5
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 3
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 4
label IF_FALSE2
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
push local 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 3
push local 6
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 6
push constant 1
sub
pop local 6
push pointer 0
push local 6
push constant 0
call GoFish.drawCursor 3
pop temp 0
label IF_FALSE4
label IF_FALSE3
push local 4
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop local 4
push local 6
push this 1
call Hand.getPositionCount 1
push constant 1
sub
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 6
push constant 1
add
pop local 6
push pointer 0
push local 6
push constant 0
not
call GoFish.drawCursor 3
pop temp 0
label IF_FALSE6
label IF_FALSE5
push local 5
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 2
push pointer 0
push local 6
call GoFish.eraseCursor 2
pop temp 0
push this 1
push local 6
call Hand.getRankAtPosition 2
pop local 7
push pointer 0
push local 7
call GoFish.gotAnyMe 2
pop temp 0
push this 2
push local 7
call Hand.checkRank 2
pop local 8
push local 8
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Deck.dealCard 1
pop local 9
push pointer 0
call GoFish.goFishThem 1
pop temp 0
push this 1
push local 9
call Hand.addCard 2
pop temp 0
push this 1
call Hand.drawHand 1
pop temp 0
push local 9
call Card.getRank 1
push local 7
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
pop local 2
push pointer 0
call GoFish.justWhatMe 1
pop temp 0
push pointer 0
push local 6
call GoFish.eraseCursor 2
pop temp 0
push constant 0
pop local 6
push pointer 0
push local 6
push constant 0
not
call GoFish.drawCursor 3
pop temp 0
label IF_FALSE9
label IF_FALSE8
push local 8
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
call GoFish.gotThem 1
pop temp 0
push constant 0
pop local 2
push this 1
push this 2
push local 7
call Hand.takeRank 2
call Hand.addCards 2
pop temp 0
push pointer 0
push local 6
call GoFish.eraseCursor 2
pop temp 0
push constant 0
pop local 6
push pointer 0
push local 6
push constant 0
not
call GoFish.drawCursor 3
pop temp 0
label IF_FALSE10
push this 1
call Hand.drawHand 1
pop temp 0
push this 1
call Hand.checkForPoints 1
pop local 10
push local 10
push constant 0
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 3
push local 10
add
pop this 3
push pointer 0
call GoFish.scoreMe 1
pop temp 0
label IF_FALSE11
push this 1
call Hand.drawHand 1
pop temp 0
push pointer 0
call GoFish.drawScore 1
pop temp 0
push this 1
call Hand.getCount 1
push constant 0
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
not
return
label IF_FALSE12
push constant 0
pop local 5
label IF_FALSE7
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GoFish.opponentTurn 11
push argument 0
pop pointer 0
push this 2
call Hand.sortHandOpponent 1
pop temp 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
push constant 0
not
pop local 2
push this 2
push this 5
call Hand.getRankAtPosition 2
pop local 7
push this 5
push constant 1
add
pop this 5
push this 5
push this 2
call Hand.getPositionCount 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 5
label IF_FALSE0
push pointer 0
push local 7
call GoFish.gotAnyThem 2
pop temp 0
push this 1
push local 7
call Hand.checkRank 2
pop local 8
push local 8
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Deck.dealCard 1
pop local 9
push pointer 0
call GoFish.goFishMe 1
pop temp 0
push this 2
push local 9
call Hand.addCard 2
pop temp 0
push local 9
call Card.getRank 1
push local 7
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 2
push pointer 0
call GoFish.justWhatThem 1
pop temp 0
label IF_FALSE2
label IF_FALSE1
push local 8
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call GoFish.gotMe 1
pop temp 0
push constant 0
pop local 2
push this 2
push this 1
push local 7
call Hand.takeRank 2
call Hand.addCards 2
pop temp 0
push pointer 0
call GoFish.drawScore 1
pop temp 0
label IF_FALSE3
push this 1
call Hand.drawHand 1
pop temp 0
push this 2
call Hand.checkForPoints 1
pop local 10
push local 10
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push local 10
add
pop this 4
push pointer 0
call GoFish.scoreThem 1
pop temp 0
label IF_FALSE4
push pointer 0
call GoFish.drawScore 1
pop temp 0
push this 2
call Hand.getCount 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
return
label IF_FALSE5
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GoFish.drawCursor 3
push argument 0
pop pointer 0
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
push constant 1
sub
call GoFish.eraseCursor 2
pop temp 0
label IF_FALSE0
push argument 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
push constant 1
add
call GoFish.eraseCursor 2
pop temp 0
label IF_FALSE1
push constant 70
push argument 1
push constant 32
call Math.multiply 2
add
pop local 0
push constant 65
push argument 1
push constant 32
call Math.multiply 2
add
pop local 1
push constant 75
push argument 1
push constant 32
call Math.multiply 2
add
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push constant 160
push local 0
push constant 170
call Screen.drawLine 4
pop temp 0
push local 0
push constant 170
push local 1
push constant 165
call Screen.drawLine 4
pop temp 0
push local 0
push constant 170
push local 2
push constant 165
call Screen.drawLine 4
pop temp 0
push constant 0
return
function GoFish.eraseCursor 2
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 65
push argument 1
push constant 32
call Math.multiply 2
add
pop local 0
push constant 75
push argument 1
push constant 32
call Math.multiply 2
add
pop local 1
push local 0
push constant 160
push local 1
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.drawScore 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 75
push constant 95
push constant 425
push constant 115
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 75
push constant 95
push constant 75
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 115
push constant 175
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 175
push constant 115
push constant 175
push constant 95
call Screen.drawLine 4
pop temp 0
push constant 175
push constant 95
push constant 75
push constant 95
call Screen.drawLine 4
pop temp 0
push constant 9
push constant 10
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 325
push constant 95
push constant 325
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 325
push constant 115
push constant 425
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 425
push constant 115
push constant 425
push constant 95
call Screen.drawLine 4
pop temp 0
push constant 425
push constant 95
push constant 325
push constant 95
call Screen.drawLine 4
pop temp 0
push constant 9
push constant 41
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 79
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push constant 0
return
function GoFish.gotAnyMe 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 195
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 150
push constant 305
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 116
push constant 195
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 150
push constant 205
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 305
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 71
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 5
call String.new 1
push constant 65
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6
call String.new 1
push constant 116
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 8
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 6
call String.new 1
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE3
push argument 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 6
call String.new 1
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE4
push argument 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 6
call String.new 1
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE5
push argument 1
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 7
call String.new 1
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE6
push argument 1
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 7
call String.new 1
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE7
push argument 1
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 6
call String.new 1
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE8
push argument 1
push constant 10
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 5
call String.new 1
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE9
push argument 1
push constant 11
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE10
push argument 1
push constant 12
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 7
call String.new 1
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE11
push argument 1
push constant 13
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 6
call String.new 1
push constant 75
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE12
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 305
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.goFishMe 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 195
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 150
push constant 305
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 116
push constant 195
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 150
push constant 205
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 305
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 71
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 305
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.gotMe 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 195
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 150
push constant 305
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 116
push constant 195
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 150
push constant 205
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 305
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 13
call String.new 1
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 305
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.justWhatMe 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 195
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 150
push constant 305
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 116
push constant 195
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 150
push constant 205
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 305
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 119
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 305
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.scoreMe 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 195
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 150
push constant 305
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 116
push constant 195
push constant 116
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 150
push constant 205
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 305
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 150
push constant 210
push constant 155
call Screen.drawLine 4
pop temp 0
push constant 11
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 12
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 116
push constant 305
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.gotAnyThem 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 56
push constant 195
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 90
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 90
push constant 305
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 56
push constant 205
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 71
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 28
call Output.moveCursor 2
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 5
call String.new 1
push constant 65
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6
call String.new 1
push constant 116
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 8
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 6
call String.new 1
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE3
push argument 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 6
call String.new 1
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE4
push argument 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 6
call String.new 1
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE5
push argument 1
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 7
call String.new 1
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE6
push argument 1
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 7
call String.new 1
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE7
push argument 1
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 6
call String.new 1
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE8
push argument 1
push constant 10
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 5
call String.new 1
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE9
push argument 1
push constant 11
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 6
call String.new 1
push constant 74
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE10
push argument 1
push constant 12
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 7
call String.new 1
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE11
push argument 1
push constant 13
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 6
call String.new 1
push constant 75
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 63
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE12
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 51
push constant 305
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.goFishThem 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 56
push constant 195
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 90
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 90
push constant 305
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 56
push constant 205
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 71
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 51
push constant 305
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.gotThem 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 56
push constant 195
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 90
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 90
push constant 305
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 56
push constant 205
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 13
call String.new 1
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 51
push constant 305
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.justWhatThem 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 56
push constant 195
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 90
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 90
push constant 305
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 56
push constant 205
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 119
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 51
push constant 305
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.scoreThem 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 195
push constant 56
push constant 195
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 305
push constant 90
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 90
push constant 305
push constant 90
call Screen.drawLine 4
pop temp 0
push constant 195
push constant 56
push constant 205
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 305
push constant 56
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 220
push constant 56
push constant 210
push constant 51
call Screen.drawLine 4
pop temp 0
push constant 6
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 195
push constant 51
push constant 305
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GoFish.youWin 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 9
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call GoFish.playAgain 1
pop temp 0
push constant 0
return
function GoFish.youLose 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 9
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call GoFish.playAgain 1
pop temp 0
push constant 0
return
function GoFish.draw 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 9
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 73
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call GoFish.playAgain 1
pop temp 0
push constant 0
return
function GoFish.playAgain 1
push argument 0
pop pointer 0
push constant 11
push constant 17
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Deck.new 0
pop this 0
push constant 0
pop this 3
push constant 0
pop this 4
push pointer 0
push local 0
call GoFish.deal 2
pop temp 0
push pointer 0
call GoFish.play 1
pop temp 0
push constant 0
return
