function Logos.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 300
push constant 200
push constant 10
call Square.new 3
pop this 9
push constant 500
push constant 50
push constant 10
call Square.new 3
pop this 0
push constant 500
push constant 210
push constant 10
call Square.new 3
pop this 1
push constant 100
push constant 200
push constant 10
call Square.new 3
pop this 2
push constant 150
push constant 200
push constant 20
call Square.new 3
pop this 3
push pointer 0
return
function Logos.algorithms 0
push argument 0
pop pointer 0
push pointer 0
call Logos.moveLogic 1
pop temp 0
push constant 0
return
function Logos.moveLogic 1
push argument 0
pop pointer 0
push pointer 0
push this 10
push constant 6
call Logos.gcd 3
pop local 0
push local 0
push constant 6
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
call Square.moveDown 1
pop temp 0
push this 9
call Square.moveLeft 1
pop temp 0
push this 9
call Square.moveDown 1
pop temp 0
label IF_FALSE0
push this 10
push constant 216
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Square.moveDown 1
pop temp 0
label IF_FALSE1
push this 1
call Square.moveLeft 1
pop temp 0
push this 1
call Square.moveUp 1
pop temp 0
push this 10
push constant 40
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Square.moveLeft 1
pop temp 0
label IF_FALSE2
push this 10
push constant 316
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
call Square.moveRight 1
pop temp 0
label IF_FALSE3
push local 0
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 9
call Square.moveUp 1
pop temp 0
push this 9
call Square.moveRight 1
pop temp 0
push this 9
call Square.moveLeft 1
pop temp 0
push this 10
push constant 216
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
call Square.moveUp 1
pop temp 0
label IF_FALSE5
push this 1
call Square.moveRight 1
pop temp 0
push this 10
push constant 40
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
call Square.moveUp 1
pop temp 0
label IF_FALSE6
push this 10
push constant 316
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 3
call Square.moveLeft 1
pop temp 0
label IF_FALSE7
label IF_FALSE4
push local 0
push constant 2
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 9
call Square.moveLeft 1
pop temp 0
push this 9
call Square.moveUp 1
pop temp 0
label IF_FALSE8
push this 10
push constant 220
gt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 0
call Square.moveLeft 1
pop temp 0
label IF_FALSE9
push this 1
call Square.moveLeft 1
pop temp 0
push this 10
push constant 40
gt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 2
call Square.moveRight 1
pop temp 0
label IF_FALSE10
push this 10
push constant 316
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 3
call Square.moveUp 1
pop temp 0
label IF_FALSE11
push local 0
push constant 3
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 9
call Square.moveRight 1
pop temp 0
push this 9
call Square.moveDown 1
pop temp 0
push local 0
push constant 216
gt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 0
call Square.moveRight 1
pop temp 0
label IF_FALSE13
push this 1
call Square.moveDown 1
pop temp 0
push this 10
push constant 40
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 2
call Square.moveDown 1
pop temp 0
label IF_FALSE14
push this 10
push constant 316
gt
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 3
call Square.moveDown 1
pop temp 0
label IF_FALSE15
label IF_FALSE12
push constant 0
return
function Logos.dispose 0
push argument 0
pop pointer 0
push this 9
call Square.dispose 1
pop temp 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Logos.run 0
push argument 0
pop pointer 0
push pointer 0
call Logos.timer 1
pop temp 0
push pointer 0
call Logos.algorithms 1
pop temp 0
push this 10
call Output.printInt 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
return
function Logos.timer 0
push argument 0
pop pointer 0
push this 10
push constant 1
add
pop this 10
push constant 0
return
function Logos.gcd 1
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 2
push constant 0
eq
not
not
if-goto WHILE_END0
push argument 1
push argument 2
push argument 1
push argument 2
call Math.divide 2
call Math.multiply 2
sub
pop local 0
push argument 2
pop argument 1
push local 0
pop argument 2
goto WHILE_EXP0
label WHILE_END0
push argument 1
return
