function Elephant.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
call Elephant.draw 1
pop temp 0
push pointer 0
return
function Elephant.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Elephant.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Elephant.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Elephant.x 0
push argument 0
pop pointer 0
push this 0
return
function Elephant.y 0
push argument 0
pop pointer 0
push this 1
return
function Elephant.jump 0
push argument 0
pop pointer 0
push constant 250
pop this 3
label WHILE_EXP0
push this 3
push constant 0
gt
not
if-goto WHILE_END0
push pointer 0
call Elephant.moveUp 1
pop temp 0
push this 3
push constant 5
sub
pop this 3
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push this 3
push constant 250
lt
not
if-goto WHILE_END1
push pointer 0
call Elephant.moveDown 1
pop temp 0
push this 3
push constant 5
add
pop this 3
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Elephant.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Elephant.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 2
add
push constant 234
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
add
push constant 1
sub
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
