function Random.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 111
pop static 0
push constant 0
pop this 0
push pointer 0
return
function Random.getRandomType 2
push argument 0
pop pointer 0
push pointer 0
call Random.getRandom 1
pop local 0
push local 0
push local 0
push constant 2
call Math.divide 2
push constant 2
call Math.multiply 2
sub
pop local 1
push local 1
return
function Random.getRandomCoordX 2
push argument 0
pop pointer 0
push pointer 0
call Random.getRandom 1
pop local 0
push local 0
push local 0
push constant 511
call Math.divide 2
push constant 511
call Math.multiply 2
sub
pop local 1
push local 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
return
function Random.getRandomCoordY 2
push argument 0
pop pointer 0
push pointer 0
call Random.getRandom 1
pop local 0
push local 0
push local 0
push constant 255
call Math.divide 2
push constant 255
call Math.multiply 2
sub
pop local 1
push local 1
return
function Random.getRandomRadius 2
push argument 0
pop pointer 0
push pointer 0
call Random.getRandom 1
pop local 0
push local 0
push local 0
push constant 180
call Math.divide 2
push constant 180
call Math.multiply 2
sub
pop local 1
push local 1
return
function Random.getRandom 5
push argument 0
pop pointer 0
push static 0
push static 0
call Math.multiply 2
pop local 0
push constant 9
call String.new 1
pop local 1
push constant 3
call String.new 1
pop local 2
push local 1
push local 0
call String.setInt 2
pop temp 0
push local 1
push constant 1
call String.charAt 2
pop local 4
push local 2
push local 4
call String.appendChar 2
pop temp 0
push local 1
push constant 2
call String.charAt 2
pop local 4
push local 2
push local 4
call String.appendChar 2
pop temp 0
push local 1
push constant 3
call String.charAt 2
pop local 4
push local 2
push local 4
call String.appendChar 2
pop temp 0
push local 2
call String.intValue 1
pop static 0
push local 2
call String.dispose 1
pop temp 0
push local 1
call String.dispose 1
pop temp 0
push static 0
return
