function Levels.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Levels.getLevel 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Levels.level1 0
return
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Levels.level2 0
return
label IF_FALSE1
push argument 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Levels.level3 0
return
label IF_FALSE2
push argument 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Levels.level4 0
return
label IF_FALSE3
push argument 0
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
call Levels.level5 0
return
label IF_FALSE4
push argument 0
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
call Levels.level6 0
return
label IF_FALSE5
push argument 0
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
call Levels.level7 0
return
label IF_FALSE6
push argument 0
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
call Levels.level8 0
return
label IF_FALSE7
push argument 0
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
call Levels.level9 0
return
label IF_FALSE8
push argument 0
push constant 10
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
call Levels.level10 0
return
label IF_FALSE9
push argument 0
push constant 11
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
call Levels.level11 0
return
label IF_FALSE10
push argument 0
push constant 12
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
call Levels.level12 0
return
label IF_FALSE11
push argument 0
push constant 13
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
call Levels.level13 0
return
label IF_FALSE12
push argument 0
push constant 14
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
call Levels.level14 0
return
label IF_FALSE13
push argument 0
push constant 15
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
call Levels.level15 0
return
label IF_FALSE14
push argument 0
push constant 16
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
call Levels.level16 0
return
label IF_FALSE15
push argument 0
push constant 17
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
call Levels.level17 0
return
label IF_FALSE16
push argument 0
push constant 18
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
call Levels.level18 0
return
label IF_FALSE17
push argument 0
push constant 19
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
call Levels.level19 0
return
label IF_FALSE18
call Levels.level20 0
return
function Levels.level1 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level2 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level3 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level4 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level5 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level6 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level7 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level8 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level9 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level10 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level11 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level12 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level13 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level14 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level15 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level16 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level17 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level18 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level19 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.empty 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
function Levels.level20 1
push constant 3
push constant 3
call Array2D.new 2
pop local 0
push local 0
push constant 0
push constant 0
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 1
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 0
push constant 2
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 0
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 1
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 1
push constant 2
call Shapes.plus 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 0
call Shapes.diamond 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 1
call Shapes.square 0
call Array2D.insertValue 4
pop temp 0
push local 0
push constant 2
push constant 2
call Shapes.cross 0
call Array2D.insertValue 4
pop temp 0
push local 0
return
